body{
    background-color: #999999;
    color: black;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
a:active{
    color: white;
}
table{
    text-align: center;
    background-color: white;
    width: 670px;
}
td{
    margin: 2pt;
}
#t2{
    width: 650px;
}
.ttd{
    text-align: center;
    background-color: #485808;
    height: 60px;
    margin: 2px;

}
#story{
    color: white;

}
.snd_row{

}